<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Test</h1>
    <liferay-angular-portlet th:attr="api-url=@{__${ajaxUrl}__}">
        Loading...
    </liferay-angular-portlet>
    <script type="text/javascript" th:src="@{~__${staticContentUrl}__(filename='dist/inline.bundle.js')}"></script>
    <script type="text/javascript" th:src="@{~__${staticContentUrl}__(filename='dist/vendor.bundle.js')}"></script>
    <script type="text/javascript" th:src="@{~__${staticContentUrl}__(filename='dist/main.bundle.js')}"></script>
</div>
